*,
::before,
::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin-inline: auto;
  color: #ffffff;
  background-color: #1b1919;
  font: 18px "Fira Sans Condensed", sans-serif;
}

h1, h2, h3, h4,
p, ul, ol, li,
blockquote, fieldset {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

.content {
  margin: 133px 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  column-gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
}

.result__video-container {
  position: relative;
  min-inline-size: 711px;
  padding-block-start: 78px;
}

.result__video {
  inline-size: 100%;
  block-size: 386px;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-block-start: 11px;
}

.search-form:last-child {
  align-items: flex-end;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font: 400 18px/22px "Fira Sans Condensed", sans-serif;
  padding-block-end: 5px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-block-start: 4px;
}

.search-form__label {
  display: flex;
  align-items: center;
  flex-direction: row;
  inline-size: fit-content;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  appearance: none;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  font: 400 18px/22px "Fira Sans Condensed", sans-serif;
  min-inline-size: 225px;
  border: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield:active {
  border-inline: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  display: block;
  inline-size: 15px;
  block-size: 15px;
  background-color: #fff;
  margin: 1px;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label-text {
  padding-inline-start: 5px;
}

.search-form__label:not(:has(.search-form__textfield)):hover {
  text-decoration: underline;
}

.button {
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  font: 400 18px/21px "Fira Sans Condensed", sans-serif;
  border: 1px solid #fff;
}

.button:focus {
  outline: none;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.search-form__submit-button {
  padding: 6px 73.5px;
}

.search-form__submit-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__details {
  inline-size: 100%;
  block-size: 100%;
}

.title {
  font: 700 75px/93% "Oswald", sans-serif;
  text-transform: uppercase;
  padding-block-end: 23px;
}

.content__accent {
  position: relative;
  color: #545050;
}

.content__accent::after {
  content: "-";
  position: relative;
  top: -0.1em;
}

.content__list {
  position: relative;
  max-block-size: 298px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}

.content__list-item:not(:last-child) {
  padding-block-end: 32px;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
  margin: 2px;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__video-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
}

.content__video-card-description-container {
  padding-inline-start: 2px;
}

.content__video-card-title {
  font: 700 30px/100% "Oswald", sans-serif;
  text-transform: uppercase;
  padding-block-end: 6px;
}

.content__video-card-description {
  font-weight: 400;
  line-height: 90%;
}

.content__video-card-thumbnail {
  display: block;
  justify-self: end;
  inline-size: 194px;
  block-size: 103px;
}

.more-button {
  padding: 6px 146px;
}

.more-button:focus-visible {
  margin: 2px;
  padding: 6px 140px;
  outline: 1px solid #fff;
  outline-offset: 1px;
}
